## Buses varados

## Espacio de características

**FLota vinculada:**

n = 10518, p = 13

- Zona STR
- Fase STR 3
- Componente STR 3
- Estatus vinculación STR 2
- Combustible STR 5
- Modelo INT
- Fecha de vinculación TS
- Accesibilidad STR
- Edad INT
- Identificador INT
- Descripción vinculación STR 1
- Descripción emisión STR
- Tipo STR

**Datos varados**
n = 116548, p 
- ID bus INT
- Fecha varada TS
- Causa STR
- Descripción STR
- Fecha habilitación TS
- Fecha movilización TS
- Ruta FLOAT
- Tiempo

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [ ]:
os.chdir('C:\\Users\\Julian\\Desktop\\Cursos\\sets\\buses')
os.listdir()

['BASE DE DATOS FINAL (1).csv',
 'Data Varados.xlsx',
 'flota total.xlsx',
 'flota-vinculada-del-sitp-diciembre-2024V2.csv']

In [32]:
varado = pd.read_excel('Data Varados.xlsx')
varado.head()

,ID BUS,Fecha de varada,Causa de la varada,Descripción de la novedad,Fecha de habilitación,Fecha de inmovilización - Copia,Ruta,Tiempo habilitación,Fecha de varada2,Hora,Franja de varada
0,5759,2024-01-01 05:55:52,CARROCERÍA EXTERNA,Carrocería externa/01-01-2024/05:30/Móvil 4071...,2024-01-02 03:43:33,2024-01-01,669,21.794722,2024-01-01,05:55:52,a. m.
1,2310,2024-01-01 05:56:37,ACELERACIÓN - POTENC,Aceleración - potencia/01-01-2024/05:40/Móvil ...,2024-01-01 09:57:43,2024-01-01,BK904,4.018333,2024-01-01,05:56:37,a. m.
2,944,2024-01-01 05:57:15,VANDALISMO,Vandalismo/roto el vidrio de la cabina costado...,2024-01-01 08:29:15,2024-01-01,LG816,2.533333,2024-01-01,05:57:15,a. m.
3,6794,2024-01-01 06:01:00,SUSPENSIÓN,Suspensión/01-01-2024/05:25/Móvil 807392/Ruta ...,2024-01-02 14:07:28,2024-01-01,HA605,32.107778,2024-01-01,06:01:00,a. m.
4,6127,2024-01-01 06:02:28,CARROCERÍA EXTERNA,Carrocería externa/spejo retrovisor derecho su...,2024-01-02 03:47:36,2024-01-01,P7,21.752222,2024-01-01,06:02:28,a. m.

In [33]:
varado.columns = varado.columns.str.strip()
varado.columns

Index(['ID BUS', 'Fecha de varada', 'Causa de la varada',
       'Descripción de la novedad', 'Fecha de habilitación',
       'Fecha de inmovilización - Copia', 'Ruta', 'Tiempo habilitación',
       'Fecha de varada2', 'Hora', 'Franja de varada'],
      dtype='object')

In [10]:
names = ['ID BUS']

In [7]:
flota = pd.read_excel('flota total.xlsx')
flota.head()

,zona,fase,componente,estatus_vinculacion,combustible,modelo,fecha_vinculacion,accesible,edad,identificador,descripcion_estado_vinculacion,descripcion_nivel_emision,descripcion_tipo
0,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,125,Vinculado,EURO IV,ARTICULADO
1,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,126,Vinculado,EURO IV,ARTICULADO
2,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,127,Vinculado,EURO IV,ARTICULADO
3,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,128,Vinculado,EURO IV,ARTICULADO
4,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,23/03/2012,PLATAFORMA ALTA,12.0,129,Vinculado,EURO IV,BIARTICULADO

In [12]:
flota.columns = flota.columns.str.strip()
flota.columns

Index(['zona', 'fase', 'componente', 'estatus_vinculacion', 'combustible',
       'modelo', 'fecha_vinculacion', 'accesible', 'edad', 'identificador',
       'descripcion_estado_vinculacion', 'descripcion_nivel_emision',
       'descripcion_tipo'],
      dtype='object')

In [16]:
df = pd.merge(flota, varado, how='left', left_on='identificador', right_on='ID BUS')
df.head()

,zona,fase,componente,estatus_vinculacion,combustible,modelo,fecha_vinculacion,accesible,edad,identificador,...,Fecha de varada,Causa de la varada,Descripción de la novedad,Fecha de habilitación,Fecha de inmovilización - Copia,Ruta,Tiempo habilitación,Fecha de varada2,Hora,Franja de varada
0,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,125,...,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN
1,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,126,...,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN
2,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,127,...,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN
3,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,2012-10-04 00:00:00,PLATAFORMA ALTA,12.0,128,...,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN
4,ENGATIVï,FASE III,TRONCAL,Referente,DIESEL,2012,23/03/2012,PLATAFORMA ALTA,12.0,129,...,NaT,NaN,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN

In [17]:
varado.shape, flota.shape, df.shape

((116548, 11), (10518, 13), (117282, 24))

In [19]:
df.columns

Index(['zona', 'fase', 'componente', 'estatus_vinculacion', 'combustible',
       'modelo', 'fecha_vinculacion', 'accesible', 'edad', 'identificador',
       'descripcion_estado_vinculacion', 'descripcion_nivel_emision',
       'descripcion_tipo', 'ID BUS', 'Fecha de varada', 'Causa de la varada',
       'Descripción de la novedad', 'Fecha de habilitación',
       'Fecha de inmovilización - Copia', 'Ruta', 'Tiempo habilitación',
       'Fecha de varada2', 'Hora', 'Franja de varada'],
      dtype='object')

In [ ]:
print(df.identificador.nunique())
print(117282/10518) #Promedio de fallas por bus: 11

# 10518 buses pero 117282 registros de fallas

10518
11.150598973188819

In [31]:
df.identificador.value_counts()[:15]

identificador
4331    50
2625    49
3039    48
4636    48
2357    48
1772    46
2227    46
831     45
2233    45
2740    45
2267    44
8246    44
5988    44
2481    44
9457    44
Name: count, dtype: int64

In [38]:
df['Causa de la varada'].unique()

array([nan, 'DIRECCIÓN ', 'AMBIENTAL', 'TURBO', 'SISTEMA ELÉCTRICO',
       'TEMPERATURA', 'CORREAS', 'CARROCERÍA EXTERNA', 'PUERTAS',
       'FRENOS', 'FUGA DE REFRIGERANTE', 'DOCUMENTOS',
       'ACCIDENTE DE TRÁNSIT', 'MOTOR', 'TESTIGOS-TABL INSTRU',
       'COMPRESOR', 'ACELERACIÓN - POTENC', 'DIRECCIÓN', 'FUGA DE ACEITE',
       'PERNO FIJACIÓN LLANT', 'LIMPIAPARABRISAS', 'VANDALISMO',
       'SE APAGA Y NO ENCIEN', 'SUSPENSIÓN', 'EMBRAGUE', 'FUGA DE AIRE',
       'CAJA - TRANSMISIÓN', 'RUTERO - INFORMADOR', 'CARROCERÍA INTERNA',
       'CARDAN', 'COMBUSTIBLE', 'RODAMIENTO LLANTA', 'SEGURIDAD',
       'TROQUE ', 'SILLAS - PASAMANOS', 'SISTEMA NEUMÁTICO',
       'ACCESIBILIDAD DISCAP', 'FUGA DE ACEITE ', 'ESTRUC - CHASIS',
       'SISTEMA ELÉCTRICO ', 'INMOV POR TRANSITO', 'LLANTA LISA',
       'LLANTA SUELTA', 'SIRCI CONTROL', 'Z - OTRAS CAUSAS',
       'SILLAS - PASAMANOS ', 'LLANTA LISA ', 'MOTOR ', 'TROQUE',
       'CARROCERÍA INTERNA ', 'SUSPENSIÓN ', 'FUGA DE AIRE ', 'PUERTAS ',
       'FRENOS ', 'TEMPERATURA ', 'RODAMIENTO LLANTA ', 'AMBIENTAL ',
       'PATIO', 'puertas', 'Z-DIRECCIÓN', 'CARROCERÍA EXTERNA ',
       'FUGA DE REFRIGERANTE ', 'SEGURIDAD ', 'TESTIGOS-TABL INSTRU ',
       'COMBUSTIBLE ', 'motor', 'LIMPIAPARABRISAS ',
       'CAJA - TRANSMISIÓN ', 'SE APAGA Y NO ENCIEN ', 'CORREAS ',
       'TURBO ', 'ESTRUC - CHASIS ', 'diRECCIÓN', 'ZZZZZZZZZZ-O. CAU',
       'ACELERACIÓN - POTENC ', 'SISTEMA NEUMÁTICO ', 'MANGUERAS',
       'EMBRAGUE ', 'ACCESIBILIDAD DISCAP ', 'SIRCI CONTROL ',
       'PERNO FIJACIÓN LLANT ', 'COMPRESOR ',
       'RESTRICCIÓN POR INOPERATIVIDAD PROLONGADA', 'DIRECCIDIRECCIÓN',
       ' FRENOS', 'ACELERACIÓN - POTENCIA', 'PUERTAS  '], dtype=object)

In [ ]:
feautures_matrix = []

| Variable del bus           | Causas de falla posiblemente relacionadas                                                                                                                                     |
|---------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Combustible**           | `COMBUSTIBLE`, `COMBUSTIBLE `, `FUGA DE AIRE`, `FUGA DE ACEITE`, `FUGA DE REFRIGERANTE`, `MOTOR`, `TURBO`                                                                       |
| **Modelo del bus (año)**  | `MOTOR`, `SISTEMA ELÉCTRICO`, `TEMPERATURA`, `CAJA - TRANSMISIÓN`, `SUSPENSIÓN`, `FRENOS`, `PUERTAS`, `RODAMIENTO LLANTA`, `LIMPIAPARABRISAS`                                 |
| **Edad**                  | Las mismas que modelo: fallas mecánicas generales aumentan con la edad                                                                                                          |
| **Cilindraje**            | `MOTOR`, `ACELERACIÓN - POTENC`, `TURBO`, `FUGA DE ACEITE`                                                                                                                      |
| **Tipología del bus**     | `ACCESIBILIDAD DISCAP`, `CARROCERÍA INTERNA`, `SILLAS - PASAMANOS`, `PUERTAS`, `PATIO`, `LLANTA LISA`                                                                           |
| **Marca**                 | Potencialmente todas las fallas técnicas, especialmente `SISTEMA ELÉCTRICO`, `MOTOR`, `CAJA - TRANSMISIÓN`                                                                      |
| **Tipo de rutas que hace**| `FRENOS`, `SUSPENSIÓN`, `LLANTA LISA`, `INMOV POR TRANSITO`, `VANDALISMO`, `PUERTAS`, `CARROCERÍA EXTERNA`                                                                      |