<a href="https://colab.research.google.com/github/julihdez36/Analytics/blob/main/Sesiones_practicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importación de librería y modulos de trabajo

# import pyspark
from pyspark.sql import SparkSession

# Iniciar sesión de trabajo

spark = SparkSession.builder.appName('Practica').getOrCreate()

# Acción sobre un spark df

df5 = spark.range(5)

print(type(df5))
print(df5)

<class 'pyspark.sql.dataframe.DataFrame'>
DataFrame[id: bigint]

In [ ]:
spark

In [ ]:
print(dir(df5))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_collect_as_arrow', '_ipython_key_completions_', '_jcols', '_jdf', '_jmap', '_joinAsOf', '_jseq', '_lazy_rdd', '_repr_html_', '_sc', '_schema', '_session', '_show_string', '_sort_cols', '_sql_ctx', '_support_repr_html', 'agg', 'alias', 'approxQuantile', 'cache', 'checkpoint', 'coalesce', 'colRegex', 'collect', 'columns', 'corr', 'count', 'cov', 'createGlobalTempView', 'createOrReplaceGlobalTempView', 'createOrReplaceTempView', 'createTempView', 'crossJoin', 'crosstab', 'cube', 'describe', 'distinct', 'drop', 'dropDuplicates', 'dropDuplicatesWithinWatermark', 'drop_duplicates', 'dropna', 'dtypes', 'exceptAll', 'explain', 'fillna', 'filter', 'first', 'foreach', 'foreachPartition', 'freqItems', 'groupBy', 'groupby', 'head', 'hint', 'id', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming', 'is_cached', 'join', 'limit', 'localCheckpoint', 'mapInArrow', 'mapInPandas', 'melt', 'na', 'observe', 'offset', 'orderBy', 'pandas_api', 'persist', 'printSchema', 'randomSplit', 'rdd', 'registerTempTable', 'repartition', 'repartitionByRange', 'replace', 'rollup', 'sameSemantics', 'sample', 'sampleBy', 'schema', 'select', 'selectExpr', 'semanticHash', 'show', 'sort', 'sortWithinPartitions', 'sparkSession', 'sql_ctx', 'stat', 'storageLevel', 'subtract', 'summary', 'tail', 'take', 'to', 'toDF', 'toJSON', 'toLocalIterator', 'toPandas', 'to_koalas', 'to_pandas_on_spark', 'transform', 'union', 'unionAll', 'unionByName', 'unpersist', 'unpivot', 'where', 'withColumn', 'withColumnRenamed', 'withColumns', 'withColumnsRenamed', 'withMetadata', 'withWatermark', 'write', 'writeStream', 'writeTo']

In [ ]:
df5.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [ ]:
df5.collect()

[Row(id=0), Row(id=1), Row(id=2), Row(id=3), Row(id=4)]

### Cómo opera un data frame en spark

In [ ]:
# Creemos un df spark a través de listas

from datetime import date
from pyspark.sql import Row

In [ ]:
df = [
    Row(id = 1, value = 250, date = date(2025,1,1)),
    Row(id = 2, value = 200, date = date(2025,1,2)),
    Row(id = 3, value = 300, date = date(2025,1,3))
]
print(type(df))
df

<class 'list'>

[Row(id=1, value=250, date=datetime.date(2025, 1, 1)),
 Row(id=2, value=200, date=datetime.date(2025, 1, 2)),
 Row(id=3, value=300, date=datetime.date(2025, 1, 3))]

In [ ]:
# Trasnformemolo en un df spark

df = spark.createDataFrame(df)
df

DataFrame[id: bigint, value: bigint, date: date]

In [ ]:
df.show()

+---+-----+----------+
| id|value|      date|
+---+-----+----------+
|  1|  250|2025-01-01|
|  2|  200|2025-01-02|
|  3|  300|2025-01-03|
+---+-----+----------+

In [ ]:
# Usemos listas para la creación de un spark df

data = [
    [12114, 'Julian',30,1.75,9,8,7,'Big Data','Ingenieria'],
    [12115, 'José',33,1.75,9,8,7,'Big Data','Ingenieria'],
    [12116, 'Pedro',34,1.75,9,8,7,'Big Data','Ingenieria'],
    [12117, 'Maria',35,1.75,9,8,7,'Big Data','Ingenieria']
]

columnas = ['ID_estudiante','Nombre','Edad','Nota','score1','score2','score3',
            'Programa','Facultad']

df = spark.createDataFrame(data,columnas)
df.show()

+-------------+------+----+----+------+------+------+--------+----------+
|ID_estudiante|Nombre|Edad|Nota|score1|score2|score3|Programa|  Facultad|
+-------------+------+----+----+------+------+------+--------+----------+
|        12114|Julian|  30|1.75|     9|     8|     7|Big Data|Ingenieria|
|        12115|  José|  33|1.75|     9|     8|     7|Big Data|Ingenieria|
|        12116| Pedro|  34|1.75|     9|     8|     7|Big Data|Ingenieria|
|        12117| Maria|  35|1.75|     9|     8|     7|Big Data|Ingenieria|
+-------------+------+----+----+------+------+------+--------+----------+

In [ ]:
spark.createDataFrame([('Alice', 1)], ['name', 'age']).show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [ ]:
# Para revisar las columnas
df.columns

['id', 'value', 'date']

In [ ]:
# Número de filas
df.count()

3

In [ ]:
# Schema

df.printSchema()

root
 |-- id: long (nullable = true)
 |-- value: long (nullable = true)
 |-- date: date (nullable = true)

In [ ]:
df.schema

StructType([StructField('id', LongType(), True), StructField('value', LongType(), True), StructField('date', DateType(), True)])

In [ ]:
for i in df.schema:
  print(i.name, i.dataType)

id LongType()
value LongType()
date DateType()

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/julihdez36/Analytics/refs/heads/main/Data/bank.csv',
                 sep = ';')
df.sample(3)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
305,56,technician,married,secondary,no,205,no,yes,cellular,23,jul,442,2,-1,0,unknown,no
1443,39,technician,single,secondary,no,102,yes,no,cellular,14,aug,272,2,-1,0,unknown,no
1756,32,management,married,tertiary,no,-55,yes,no,cellular,26,aug,107,4,-1,0,unknown,no

In [ ]:
# Primera forma de importar conjuntos de datos

spark.createDataFrame(df).show(3)

+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|       job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|  services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 3 rows

In [ ]:
df = spark.read.csv('bank.csv', sep = ';', header = True)
print(type(df))
df.printSchema()

<class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [ ]:
df = spark.read.csv('bank.csv', sep = ';', header = True, inferSchema =  True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [ ]:
print(df.columns)

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

In [ ]:
df.count()

4521

In [ ]:
# Trabajemos sobre las columnas (class: columns; class: df)

df.select('age').show(5)

+---+
|age|
+---+
| 30|
| 33|
| 35|
| 30|
| 59|
+---+
only showing top 5 rows

In [ ]:
df.select(['age','education','loan']).show(5)

+---+---------+----+
|age|education|loan|
+---+---------+----+
| 30|  primary|  no|
| 33|secondary| yes|
| 35| tertiary|  no|
| 30| tertiary| yes|
| 59|secondary|  no|
+---+---------+----+
only showing top 5 rows

In [ ]:
# Agreagación y eliminación de columnas

df = df.withColumn('age after 5 years', df['age'] + 5)
df.show(3)

+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----------------+
|age|       job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|age after 5 years|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----------------+
| 30|unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|               35|
| 33|  services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|               38|
| 35|management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|               40|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----------------+
only showing top 3 rows

In [ ]:
df = df.drop('age after 5 years')
df.columns

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [ ]:
# Trabajo con columnas y funciones groupby