<a href="https://colab.research.google.com/github/julihdez36/Analytics/blob/main/Spark_FCCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pyspark

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/julihdez36/Big_Data/refs/heads/main/Datos/bank.csv',
                 sep = ';')
df.sample(3)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
1356,30,management,single,tertiary,no,604,no,yes,cellular,2,feb,475,1,-1,0,unknown,no
4375,29,services,divorced,secondary,no,92,yes,no,cellular,7,may,240,1,-1,0,unknown,no
1404,50,management,married,tertiary,no,0,no,no,cellular,9,jul,243,5,-1,0,unknown,no

In [ ]:
# Iniciemos nuestra sesión Spark

from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('practise').getOrCreate()
spark #Información sobre mi sesión

In [ ]:
df = spark.read.csv('bank.csv', sep = ';')
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string]

In [ ]:
df.show(2)

+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+----+
|_c0|       _c1|    _c2|      _c3|    _c4|    _c5|    _c6| _c7|     _c8|_c9| _c10|    _c11|    _c12| _c13|    _c14|    _c15|_c16|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+----+
|age|       job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|   y|
| 30|unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown|  no|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+----+
only showing top 2 rows

In [ ]:
df = spark.read.option('header','true').csv('bank.csv', sep = ';')
df

DataFrame[age: string, job: string, marital: string, education: string, default: string, balance: string, housing: string, loan: string, contact: string, day: string, month: string, duration: string, campaign: string, pdays: string, previous: string, poutcome: string, y: string]

In [ ]:
# Revisemos el esquema del data frame

df.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [ ]:
# Haciendo esto veremos que el tipo de objetos serán str; podríamos pedirle que infiera el tipado agregando un infer
df = spark.read.option('header','true').csv('bank.csv', sep = ';', inferSchema = True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [ ]:
# Otra foema mas simple de hacer la importación es la convencional con ajuste de  parametros

df = spark.read.csv('bank.csv', sep = ';', header= True, inferSchema= True)
df.show(3)

+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|       job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|  services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
+---+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 3 rows

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
#Visualicemos el esquema
df.schema

StructType([StructField('age', IntegerType(), True), StructField('job', StringType(), True), StructField('marital', StringType(), True), StructField('education', StringType(), True), StructField('default', StringType(), True), StructField('balance', IntegerType(), True), StructField('housing', StringType(), True), StructField('loan', StringType(), True), StructField('contact', StringType(), True), StructField('day', IntegerType(), True), StructField('month', StringType(), True), StructField('duration', IntegerType(), True), StructField('campaign', IntegerType(), True), StructField('pdays', IntegerType(), True), StructField('previous', IntegerType(), True), StructField('poutcome', StringType(), True), StructField('y', StringType(), True)])

In [ ]:
# validar el esquema

for i in df.schema:
  print(i)

StructField('age', IntegerType(), True)
StructField('job', StringType(), True)
StructField('marital', StringType(), True)
StructField('education', StringType(), True)
StructField('default', StringType(), True)
StructField('balance', IntegerType(), True)
StructField('housing', StringType(), True)
StructField('loan', StringType(), True)
StructField('contact', StringType(), True)
StructField('day', IntegerType(), True)
StructField('month', StringType(), True)
StructField('duration', IntegerType(), True)
StructField('campaign', IntegerType(), True)
StructField('pdays', IntegerType(), True)
StructField('previous', IntegerType(), True)
StructField('poutcome', StringType(), True)
StructField('y', StringType(), True)

In [ ]:
df.count() # Nos informa de cuatos registros hay

4521

In [ ]:
# Selección de columnas
# Podemos usar métodos de los df de python, con variaciones

print(df.columns)
df.head(3) # Notemos que acá lo muestra como filas (Row)

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'y']

[Row(age=30, job='unemployed', marital='married', education='primary', default='no', balance=1787, housing='no', loan='no', contact='cellular', day=19, month='oct', duration=79, campaign=1, pdays=-1, previous=0, poutcome='unknown', y='no'),
 Row(age=33, job='services', marital='married', education='secondary', default='no', balance=4789, housing='yes', loan='yes', contact='cellular', day=11, month='may', duration=220, campaign=1, pdays=339, previous=4, poutcome='failure', y='no'),
 Row(age=35, job='management', marital='single', education='tertiary', default='no', balance=1350, housing='yes', loan='no', contact='cellular', day=16, month='apr', duration=185, campaign=1, pdays=330, previous=1, poutcome='failure', y='no')]

In [ ]:
# seleccionar y ver columnas

df.select('age').show(5)

+---+
|age|
+---+
| 30|
| 33|
| 35|
| 30|
| 59|
+---+
only showing top 5 rows

In [ ]:
# Selección de múltiples columnas

df.select(['age','education']).show(5)

+---+---------+
|age|education|
+---+---------+
| 30|  primary|
| 33|secondary|
| 35| tertiary|
| 30| tertiary|
| 59|secondary|
+---+---------+
only showing top 5 rows

In [ ]:
# Resumir la información

df.describe().show()

+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+
|summary|               age|    job| marital|education|default|           balance|housing|loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|   y|
+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+
|  count|              4521|   4521|    4521|     4521|   4521|              4521|   4521|4521|    4521|              4521| 4521|              4521|              4521|              4521|              4521|    4521|4521|
|   mean| 41.17009511170095|   NULL|    NULL|     NULL|   NULL|1422.6578190665782|   NULL|NULL|    NULL|15.915284229152842| NULL|263.96129174961294| 2.793629727936297|39.766644547666445|0.5425790754257908|    NULL|NULL|
| stddev|10.576210958711263|   NULL|    NULL|     NULL|   NULL|3009.6381424673395|   NULL|NULL|    NULL| 8.247667327229934| NULL|259.85663262468216|3.1098066601885823|100.12112444301656|1.6935623506071211|    NULL|NULL|
|    min|                19| admin.|divorced|  primary|     no|             -3313|     no|  no|cellular|                 1|  apr|                 4|                 1|                -1|                 0| failure|  no|
|    max|                87|unknown|  single|  unknown|    yes|             71188|    yes| yes| unknown|                31|  sep|              3025|                50|               871|                25| unknown| yes|
+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+

In [ ]:
# Agregar y eliminar columnas

df.withColumn('age after 2 years', df['age']+2).show(5) #Debemos reasignarlo si queremos guardarlo

+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----------------+
|age|        job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|age after 2 years|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----------------+
| 30| unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|               32|
| 33|   services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|               35|
| 35| management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|               37|
| 30| management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|               32|
| 59|blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|               61|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----------------+
only showing top 5 rows

In [ ]:
df = df.withColumn('age after 2 years', df['age']+2)
df.columns

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y',
 'age after 2 years']

In [ ]:
# Vamos ahora a eliminar la columna

df = df.drop('age after 2 years')
df.show(5)

+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|        job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30| unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|   services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35| management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30| management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
+---+-----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 5 rows

In [ ]:
# Cambiar el nombre de las columnas

df.withColumnRenamed('age','edad').show(3)

+----+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|edad|       job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+----+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|  30|unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
|  33|  services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
|  35|management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
+----+----------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 3 rows

In [ ]:
# Podemos explotar la cercanía de las columnas con las expresiones para crear consultas que no tienen porque ejecutarse inmediatamente

consulta1 = df

Column<'age'>

In [ ]:
# Sólo estamos creando la expresión, no estamos mirando datos

from pyspark.sql.functions import col

c1 = col('job') == 'unemployed'
c1

Column<'(job = unemployed)'>

In [ ]:
# veamos valores vacios

from pyspark.sql.functions import col, sum, when

# Manejar valores nulos y vacíos para cada columna
empty_count = df.select(
    *[sum(when(col(c).isNull() | (col(c) == ""), 1).otherwise(0)).alias(c) for c in df.columns]
)

# Mostrar resultados
empty_count.show()

+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|  0|  0|      0|        0|      0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|  0|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+

In [ ]:
# Group by